//font-family: 'Syncopate', sans-serif;
//font-family: 'Open Sans', sans-serif;

.site-name-text {
  font-family: 'Syncopate', sans-serif;
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;
}

.sub-header-text {
  font-family: 'Syncopate', sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.contact-text {
  font-family: 'Syncopate', sans-serif;
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;

  a{
    text-decoration: none;
    color: white;

  }

  a:hover,
  a:focus {
    font-weight: bold;
  }
}

.img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin: 0px;
  padding: 0px;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

body, html {
  margin: 0px;
}

.container {
  padding: 7%;
  max-width: 1440px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;

  @media only screen and (max-width: 1120px) {
    flex-flow: column;
    align-items: flex-start;
  }
  .site-name {
    padding-top: 10px;

    @media only screen and (max-width: 1120px) {
      width: 100%;
      margin-bottom: 3%;
    }
  }
  .contact {
    background-color: black;
    padding: 10px;
    padding-bottom: 7px;
    border-radius: 5px;
  }
}

.sub-header {
  height: 75px;
  margin-bottom: 7%;
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 601px) and (max-width: 1120px){
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 60px;
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 600px) {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 60px;
    margin-bottom: 50px;
  }
}
.tile-row {
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: 601px) and (max-width: 1120px) {
    flex-flow: column;
    align-items: flex-start;

    .tile:nth-child(even) {
      flex-flow: row-reverse;
    }
  }

  @media only screen and (max-width: 600px) {
    flex-flow: column;
    align-items: flex-start;
  }
  .tile{
    width: calc(33% - 20px);
    display: flex;
    flex-flow: column;
    align-items: center;

    @media only screen and (min-width: 601px) and (max-width: 1120px) {
      flex-flow: row;
      width: 100%;
      margin-bottom: 10%;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 50px;
      border-bottom: 1px solid black;

    }

    @media only screen and (max-width: 600px) {
      flex-flow: column;
      width: 100%;
      margin-bottom: 50px;
      justify-content: space-between;
      padding-bottom: 50px;
      border-bottom: 1px solid black;
    }
    .tile-img {
      width: 100%;
      transition: all 500ms;

      @media only screen and (min-width: 1121px) {
        margin-bottom: 3%;
      }

      @media only screen and (min-width: 601px) and (max-width: 1120px) {
        width: 30%;
        height: auto;
      }

      @media only screen and (max-width: 600px) {
        margin-bottom: 3%;
      }
    }

    .tile-img:hover {
      opacity: .7;
    }
    .title-combo {
      width: 100%;

      a{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-decoration: none;
        color: black;
      }

      a:hover + .tile{
        border: 1px solid black;
      }

      @media only screen and (min-width: 601px) and (max-width: 1120px) {
        width: 60%;
        margin-bottom: 3%;
        align-items: flex-start;
      }

      .tile-title {
        margin-bottom: 30px;
      }
      .tile-description {
        width: 100%;
      }
    }
  }
}
